ol > li,
ul > li {
  font-weight: 300;
}

h1, .h1 {
  font-size: 3rem;
}

@media (max-width: 767.98px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: 2.5rem;
}

@media (max-width: 767.98px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: 2rem;
}

@media (max-width: 767.98px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: 1.75rem;
}

@media (max-width: 767.98px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.5rem;
}

@media (max-width: 767.98px) {
  h5, .h5 {
    font-size: 1.25rem;
  }
}

h6, .h6 {
  font-size: 1.25rem;
}

@media (max-width: 767.98px) {
  h6, .h6 {
    font-size: 1rem;
  }
}

/* Fix Navigation */
.fix-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.fix-nav .container .logo img {
  width: 200px;
}

.content-section {
  padding: 2.5em 0 0 0;
  background-color: #fff;
  color: #333;
}

.content-section.dark {
  background-color: #333;
  color: #fff;
}

.content-section a {
  color: #e8171f;
  text-decoration: none;
}

.content-section:after {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(204, 204, 204, 0) 0px, #ccc 100%) repeat scroll 0 0;
  content: '';
  display: block;
  height: 60px;
  opacity: 0.4;
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 0;
  margin-right: 1em;
  text-align: right;
}

@media (max-width: 768px) {
  .cc-banner.cc-theme-edgeless .cc-message {
    text-align: center;
  }
}

.cc-banner.cc-theme-edgeless .cc-btn {
  width: 100%;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  color: #333;
  min-height: 320px;
  margin-top: 88px;
}

@media (max-width: 768px) {
  #banner {
    min-height: 320px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#banner.dark {
  color: #fff;
}

@media (max-width: 768px) {
  #banner.dark {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#banner:before {
  content: '';
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: center;
  background-size: cover;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#banner.dark:before {
  background-color: #333;
}

.nav.nav-tabs {
  border-bottom: 3px solid #e8171f;
}

.nav .nav-item {
  margin: 0 0.5rem 0 0;
}

.nav .nav-item .nav-link {
  background-color: #555;
  color: #fff;
  border: none;
  line-height: 1;
  padding: 1rem;
}

.nav .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #e8171f;
  border: none;
}

.tab-content .tab-pane {
  padding: 1.5rem 0.5rem;
}

.the-insight-bar {
  padding: 0;
  display: inline-block;
  -webkit-font-variant-ligatures: no-common-ligatures;
          font-variant-ligatures: no-common-ligatures;
}

.the-insight-bar__pre-header {
  padding: 0 0 0 calc((1ex / 0.46) + 1ex);
  font-size: 0.46em;
  font-weight: 300;
  line-height: calc(1em + 3px);
  margin: 0 0 5ex 0;
}

.the-insight-bar__red-bar {
  border-left: calc(1ex / 2) solid #e8171f;
  display: inline-block;
}

.the-insight-bar__red-bar.blockquote {
  font-size: 1em;
}

.the-insight-bar__wrapper {
  margin: -0.1428571428em 0 0 0;
  padding: 0;
}

.the-insight-bar__headline {
  font-size: 1em;
  padding: 0 0 0 1ex;
  font-weight: 900;
  line-height: calc(1em + 3px);
  margin: 0 0 -0.1428571428em 0;
}

.the-insight-bar__subhead {
  font-size: 0.46em;
  padding: calc(1ex * 3) 0 0 calc(1ex / 0.46);
  font-weight: 300;
  line-height: calc(1em + 3px);
  margin: 0.1428571428em 0 -0.1628571428em 0;
}

.the-insight-bar__subhead.blockquote-footer {
  color: inherit;
  font-style: italic;
  font-weight: 600;
  line-height: calc(1em + 3px);
}

.the-insight-bar__cta {
  padding: 0 0 0 calc((1ex / 0.46) + 1ex);
  margin: 3ex 0 0 0;
  font-size: 0.46em;
}

.the-insight-bar__cta a {
  font-size: inherit;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  line-height: calc(1em + 3px);
}

/* Form style */
/* Optout styling */
.optout {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 5px;
}

.optout p {
  font-size: 0.75rem;
  line-height: 1.3rem;
}

.optout p .fa {
  margin-right: 0.3rem;
}

.disclaimer {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  line-height: 1.3rem;
  padding: 0 0.9rem;
}

#PrefWidget .prefHeader {
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 5px;
}

#PrefWidget .prefHeader p {
  font-size: 0.75rem;
  line-height: 1.3rem;
}

#PrefWidget .prefHeader p:last-child {
  margin: 0;
}

#PrefWidget .prefHeader p:first-child:before {
  font-family: FontAwesome;
  content: '\f023';
  margin-right: 0.4rem;
}

/* Error alert styling */
.errAlert {
  background-color: #ab1e2b;
  color: #fff;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

.errAlert p,
.errAlert p strong {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;
}

/* Error fields styling */
.errMsg {
  display: inline-block;
  margin-top: 0.3rem;
  padding: 3px 8px;
  color: #e8171f;
  border-radius: 4px;
}

.errMsg p {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.err {
  border: 1px solid #e8171f;
}

.err:focus {
  border-color: #e8171f;
}

.pass {
  border: 1px solid #09ba0c;
}

.warn {
  border: 1px solid coral;
}

/* Form styling */
.form-bg {
  background-color: #eee !important;
}

.ft-form,
.quote-form,
.demo-form {
  background-color: #eee !important;
}

.form-group {
  padding: 0.2rem 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.form-group label {
  padding-bottom: 0.3rem;
}

.form-group label.req-field:after {
  content: '*';
  position: relative;
  display: inline-block;
  margin-left: 0.2rem;
  color: #e8171f;
  border-radius: 20px;
}

.form-group.form-err:before, .form-group.form-pass:before, .form-group.form-info:before, .form-group.form-warn:before {
  font-family: FontAwesome;
  position: absolute;
  display: inline-block;
  float: right;
  border-radius: 20px;
  width: 23px;
  height: 23px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  line-height: 1rem;
}

.form-group.form-err:before {
  content: '\f12a';
  border: 3px solid #e8171f;
  color: #e8171f;
}

.form-group.form-pass:before {
  content: '\f00c';
  border: 3px solid #09ba0c;
  color: #09ba0c;
}

.form-group.form-info:before {
  content: '\f12a';
  border: 3px solid #0c5fca;
  color: #0c5fca;
}

.form-group.form-warn:before {
  content: '\f12a';
  border: 3px solid coral;
  color: coral;
}

.form-group.form-pass select,
.form-group.form-pass input,
.form-group.form-err select,
.form-group.form-err input,
.form-group.form-info select,
.form-group.form-info input,
.form-group.form-warn select,
.form-group.form-warn input {
  padding-left: 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-group label.lbl_checkbox {
  display: block;
  margin-left: 1.5rem;
}

.form-group input[name='00N3000000BjCM0'] {
  margin-top: 0.3rem;
  float: left;
}

.form-group input[name='Legal_Practioner_and_Trial_Usage_Confirm__c'] {
  margin-top: 0.3rem;
  float: left;
}

.form-group select option {
  color: #000 !important;
}

.btn[type='submit'] {
  margin: 1.914rem auto;
}

/* tooltip stylings */
.tooltip {
  font-family: 'Lato', 'Roboto', 'SegoeUI', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  z-index: 1;
  margin-left: 0.5rem;
}

.tooltip-inner {
  background-color: #e2e3e5;
  border-color: #d6d8db;
  color: #717171;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right: 15px solid #e2e3e5;
}

/* label stylings */
.no-bottom-margin {
  margin-bottom: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

/* checkbox Stylings */
.cb {
  display: -ms-grid;
  display: grid;
  -webkit-column-count: 3;
          column-count: 3;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(20px, 40px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cb input[type='checkbox'] {
  position: fixed;
  top: -9999999px;
}

.cb input[type='checkbox'] + label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  line-height: 15px;
  padding: 4px 10px;
  background-color: #dadada;
  color: #767676;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.cb input[type='checkbox'] + label::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-family: FontAwesome;
  content: '\f00c';
  color: #fff;
  font-size: 0px;
  top: 12px;
  width: 0;
  float: left;
}

.cb input[type='checkbox']:checked + label {
  background-color: #848484;
  color: #fff;
}

.cb input[type='checkbox']:checked + label::before {
  top: 0;
  opacity: 1;
  width: 20px;
  height: inherit;
  font-size: 14px;
  margin-right: 2px;
}

/* font weight stylings */
.font-weight-lighter {
  font-weight: lighter !important;
}

.btn-margin {
  margin: 15px 0 !important;
}
/*# sourceMappingURL=custom.css.map */