/* Form */
/************************
 SF form specific styles
*************************/
/* Optout styling */
.optout {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 5px;
}

.optout p {
  font-size: 0.75rem;
  line-height: 1.3rem;
}

.optout p .fa {
  margin-right: 0.3rem;
}

.disclaimer {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  line-height: 1.3rem;
  padding: 0 0.9rem;
}

#PrefWidget .prefHeader {
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 5px;
}

#PrefWidget .prefHeader a {
  color: inherit;
}

#PrefWidget .prefHeader p {
  font-size: 0.75rem;
  line-height: 1.3rem;
}

#PrefWidget .prefHeader p:last-child {
  margin: 0;
}

#PrefWidget .prefHeader p:first-child:before {
  font-family: FontAwesome;
  content: '\f023';
  margin-right: 0.4rem;
}

/* Error alert styling */
.errAlert {
  background-color: #ab1e2b;
  color: #fff;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

.errAlert p,
.errAlert p strong {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;
}

/* Error fields styling */
.errMsg {
  display: inline-block;
  margin-top: 0.3rem;
  padding: 3px 8px;
  color: #e8171f;
  border-radius: 4px;
}

.errMsg p {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.errMsg.p-email-prompt p {
  color: #00993B;
}

.err {
  border: 1px solid #e8171f;
}

.err:focus {
  border-color: #e8171f;
}

.pass {
  border: 1px solid #00993B;
}

.warn {
  border: 1px solid coral;
}

/* Form styling */
.form-bg {
  background-color: #eee !important;
}

.ft-form,
.quote-form,
.demo-form {
  background-color: #eee !important;
}

.form-group {
  padding: 0.2rem 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.form-group label {
  padding-bottom: 0.3rem;
}

.form-group label.req-field:after {
  content: '*';
  position: relative;
  display: inline-block;
  margin-left: 0.2rem;
  color: #e8171f;
  border-radius: 20px;
}

.form-group.form-err:before, .form-group.form-pass:before, .form-group.form-info:before, .form-group.form-warn:before {
  font-family: FontAwesome;
  position: absolute;
  display: inline-block;
  border-radius: 20px;
  width: 23px;
  height: 23px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  line-height: 1rem;
}

.form-group.form-err:before {
  content: '\f12a';
  border: 3px solid #e8171f;
  color: #e8171f;
}

.form-group.form-pass:before {
  content: '\f00c';
  border: 3px solid #00993B;
  color: #00993B;
}

.form-group.form-info:before {
  content: '\f12a';
  border: 3px solid #0c5fca;
  color: #0c5fca;
}

.form-group.form-warn:before {
  content: '\f12a';
  border: 3px solid coral;
  color: coral;
}

.form-group.form-pass select,
.form-group.form-pass input,
.form-group.form-err select,
.form-group.form-err input,
.form-group.form-info select,
.form-group.form-info input,
.form-group.form-warn select,
.form-group.form-warn input {
  padding-left: 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-group label.lbl_checkbox {
  display: block;
  margin-left: 1.5rem;
}

.form-group input[name='Legal_Practioner_and_Trial_Usage_Confirm__c'] {
  margin-top: 0.3rem;
  float: left;
}

.form-group select option {
  color: #000 !important;
}

.btn[type='submit'] {
  margin: 1.914rem auto;
}

/* tooltip stylings */
.tooltip {
  font-family: 'Lato', 'Roboto', 'SegoeUI', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  z-index: 1;
  margin-left: 0.5rem;
}

.tooltip-inner {
  background-color: #e2e3e5;
  border-color: #d6d8db;
  color: #717171;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right: 15px solid #e2e3e5;
}

/* label stylings */
.no-bottom-margin {
  margin-bottom: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

/* checkbox Stylings */
.cb {
  display: -ms-grid;
  display: grid;
  -webkit-column-count: 3;
          column-count: 3;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(20px, 40px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cb input[type='checkbox'] {
  position: fixed;
  top: -9999999px;
}

.cb input[type='checkbox'] + label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  line-height: 15px;
  padding: 4px 10px;
  background-color: #dadada;
  color: #767676;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.cb input[type='checkbox'] + label::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-family: FontAwesome;
  content: '\f00c';
  color: #fff;
  font-size: 0px;
  top: 12px;
  width: 0;
}

.cb input[type='checkbox']:checked + label {
  background-color: #848484;
  color: #fff;
}

.cb input[type='checkbox']:checked + label::before {
  top: 0;
  opacity: 1;
  width: 20px;
  height: inherit;
  font-size: 14px;
  margin-right: 2px;
}

/* font weight stylings */
.font-weight-lighter {
  font-weight: lighter !important;
}

.btn-margin {
  margin: 15px 0 !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-check a, .form-group a {
  color: inherit;
  text-decoration: underline;
}

/**********************************
 MC form specific styles
 Dependent on SF form styles above
***********************************/
.form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.25em 1em;
  max-width: 450px;
  margin: 0 auto;
}

.form h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
  color: #ffffff;
}

.form p {
  font-size: 12px;
  font-weight: 400;
}

.form select {
  padding: 4px 10px;
  width: 100%;
  height: 25px;
  font-size: 14px;
}

.form .form-group {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.1rem 0rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form .form-group.form-pass select,
.form .form-group.form-pass input,
.form .form-group.form-err select,
.form .form-group.form-err input,
.form .form-group.form-info select,
.form .form-group.form-info input,
.form .form-group.form-warn select,
.form .form-group.form-warn input {
  padding-left: 10px;
}

.form .form-control {
  font-size: 14px;
  padding: 4px 10px;
}

.form #PrefWidget .prefHeader {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  background-color: transparent;
}

.form #PrefWidget .prefHeader p {
  font-size: 0.67rem;
  line-height: 1rem;
}

.form .errMsg {
  padding: 0;
  padding-top: 0.1rem;
  margin-left: 0.3rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-size: 0.6rem;
}

.form .form-group.form-err:before,
.form .form-group.form-pass:before {
  content: '';
  border: 0;
}

.form .err,
.form .pass {
  border: 0;
}

.form .errMsg p {
  font-size: 0.6rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.form .name-group {
  height: 31px;
  line-height: inherit;
}

.form .form-group.form-err select,
.form .form-group.form-pass select {
  padding-left: 10px;
}

@media (max-width: 991.8px) {
  .form {
    margin-top: 1.5rem;
  }
}

.sticky-form {
  position: fixed;
  top: 88px;
  max-width: 350px;
  z-index: 99999;
}

@media (max-width: 991.98px) {
  .sticky-form {
    position: static;
    max-width: 450px;
    margin-top: 1.5rem;
  }
}
/*# sourceMappingURL=lnuk-form-validation.css.map */