/* Fix Navigation */
.fix-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 88px;
    position: fixed;
    top: 0;
    background-color: $lightColor;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 100;
    & .container .logo img {
      width: 200px;
    }
  }