.content-section {
    padding: 2.5em 0 2.5em 0;
    background-color: $lightColor;
    color: $darkColor;
    &.dark {
        background-color: $darkColor;
        color: $lightColor;
    }
    & a {
        color: $primaryColor;
        text-decoration: none;
    }
}